/* @theme class */

@import 'default';

@font-face {
  font-family: 'Noto Sans JP';
  src: url('./fonts/NotoSansJP-VF.ttf') format('truetype');
  font-weight: 100 900;
}

section {
  font-size: 32px;
  font-family: 'Noto Sans JP', sans-serif;
  padding: 40px;
  place-content: start !important;
}
